# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# TS and JS files
[*.{ts,tsx,js,jsx,vue}]
indent_size = 2

# Rust files
[*.rs]
indent_style = space
indent_size = 4

# SQL files
[*.sql]
indent_size = 4
indent_style = space

# Cargo.toml and other TOML files
[*.toml]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
